<manifest package="net.uk.onetransport.android.county.bucks"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true">

        <provider
            android:name=".provider.BucksProvider"
            android:authorities="${applicationId}.bucks.provider"
            android:exported="false"
            android:syncable="false">
        </provider>
    </application>

</manifest>
